/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=UnifrakturMaguntia&display=swap');

/* Card Styling */
.card {
    position: absolute;
    top: 570px;
    left: 985px;
    height: 225px;
    width: 150px;
    cursor: move;
    z-index: 5;
    user-select: none;
}

/* Board Layout */
#board {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 20px auto;
}

/* Hand Layout */
.hand {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*.card {
    position: absolute;
    width: 300px;
    height: 450px;
    user-select: none;
    -webkit-user-drag: none;
}*/

.cardImage {
    width: 225px;
    height: 150px;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.takenDamage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px; /* Adjust size as needed */
    height: 125px; /* Adjust size as needed */
    pointer-events: none;
    z-index: 11;
    display: none;
}

.healthDisplay {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 12;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: black 0px 0px 4px;
    display: none;
}