<p>Selected Cards: <span id="cardCount">0</span>/20</p>
<div class="make-deck-grid">
    <img draggable="false" src="/images/CardPictures/Knight.png" class="deck-card" data-name="Knight">
    <img draggable="false" src="/images/CardPictures/Dragon.png" class="deck-card" data-name="Dragon">
    <img draggable="false" src="/images/CardPictures/Cavalry.png" class="deck-card" data-name="Cavalry">
    <img draggable="false" src="/images/CardPictures/Boar.png" class="deck-card" data-name="Boar">
    <img src="/images/CardPictures/Wizard.png" class="deck-card" data-name="Wizard">
    <img src="/images/CardPictures/SwampMonster.png" class="deck-card" data-name="SwampMonster">
    <img src="/images/CardPictures/StrongMan.png" class="deck-card" data-name="StrongMan">
    <img src="/images/CardPictures/Stranger.png" class="deck-card" data-name="Stranger">
    <img src="/images/CardPictures/Skeleton.png" class="deck-card" data-name="Skeleton">
    <img src="/images/CardPictures/Rot.png" class="deck-card" data-name="Rot">
    <img src="/images/CardPictures/PossessedArmour.png" class="deck-card" data-name="PossessedArmour">
    <img src="/images/CardPictures/Orc.png" class="deck-card" data-name="Orc">
    <img src="/images/CardPictures/Monk.png" class="deck-card" data-name="Monk">
    <img src="/images/CardPictures/Medusa.png" class="deck-card" data-name="Medusa">
    <img src="/images/CardPictures/KnightCaptain.png" class="deck-card" data-name="KnightCaptain">
    <img src="/images/CardPictures/IceSpirit.png" class="deck-card" data-name="IceSpirit">
    <img src="/images/CardPictures/Harpy.png" class="deck-card" data-name="Harpy">
    <img src="/images/CardPictures/GiantLizard.png" class="deck-card" data-name="GiantLizard">
    <img src="/images/CardPictures/FireSpirit.png" class="deck-card" data-name="FireSpirit">
    <img src="/images/CardPictures/Farmer.png" class="deck-card" data-name="Farmer">
    <img src="/images/CardPictures/Executioner.png" class="deck-card" data-name="Executioner">
    <img src="/images/CardPictures/CaveMonster.png" class="deck-card" data-name="CaveMonster">
    <img src="/images/CardPictures/Bear.png" class="deck-card" data-name="Bear">
    <img src="/images/CardPictures/BabyDragon.png" class="deck-card" data-name="BabyDragon">
</div>
