<div class="sidenav">
    <a href="/profile" class="large-pfp-container">
        <img src="{{ profile_pic }}" alt="Profile Picture" width="220" class="profile-pic">
    </a>

    {% if session.Username %}
        <a href="/profile" class="cookie-link title">{{ session.Username }}</a>
    {% else %}
        <a href="/login" class="cookie-link">Log In</a>
    {% endif %}

    <a class = "sidenav-options" href="/profile/stats">Stats</a>
    <a class = "sidenav-options" href="/profile/decks/{{ session.Username }}">Decks</a>
    <a class = "sidenav-options" href="/profile/changePfp">Change Profile Pic</a>
    <a class = "sidenav-options" href="/logout">Log out</a>
</div>
