<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .main {
            padding: 40px;
        }
    </style>
</head>
<body>
    {% include 'htmlChildren/navbar.html' %}

    {% include 'htmlChildren/sideNav.html' %}

    <form class="main" action="{{ url_for('use_deck') }}" method="POST">
        <label for="decks">Decks:</label>
        <select name="decks" id="decks">
            {% for deck in decks %}
                <option value="{{ deck[1] }}">{{ deck[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Use Deck</button>
    </form>
</body>
</html>
