<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/images/ShieldLogo.png">
    <style>
        body {
            min-height: 1080px;
            background: url('images/Backgrounds/intenseFight.png') no-repeat;
            background-size: cover;
            overflow: hidden; 
        }

        .temp {
            background-color: white;
            width: 400px;
            padding: 5px;
        }
        .logo{
            width: 700px;
        }
    </style>
</head>

<body>
    {% include 'htmlChildren/navbar.html' %} <!-- navbar -->

    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <br/>
    <img src="images/Logo.png" alt="logo" class="logo">


    <div class="temp" style="display: none;">
        <!-- Navigation Links -->


        
        

        <!-- Test Alert Buttons -->
        <div class="alert-buttons">
            <form action="{{ url_for('test_alert', alert_type='info') }}" method="POST">
                <button type="submit">Test Info Alert</button>
            </form>
            <form action="{{ url_for('test_alert', alert_type='success') }}" method="POST">
                <button type="submit">Test Success Alert</button>
            </form>
            <form action="{{ url_for('test_alert', alert_type='error') }}" method="POST">
                <button type="submit">Test Error Alert</button>
            </form>
        </div>
    </div>
</body>
<script>
    if (/Mobi|Android|iPhone|iPad|iPod/.test(navigator.userAgent)) {
      window.location.href = "/notSupported"; // redirect to a "not supported" page
    }
</script>
</html>
