<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<h1>Log In</h1>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    
    input[type=text], input[type=password] {
      width: 350px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
</style>


<script>
    function checkDetails() {
        let username = document.querySelector("input[name='username']").value;
        let password = document.querySelector("input[name='password']").value;
        if(username == "" || password == ""){
            alert("u twat");
        }
        else{
            document.querySelector("form").submit();
        }

    }

</script>


<body>
    <form method="post" action="loggingin">
        <input type="text" name="username" placeholder="Username"> <!--asks for user name-->
        <br/> <!--break line-->
        <input type="text" name="password" placeholder="Password">
        <br/>
        <button type="button" onclick="checkDetails()" >login</button> <!--button type-->
    </form>

    <br/>
    <hr>
    <a href="{{ url_for('signUp') }}" class="btn">Don't have an account? Make one here</a>
</body>
</html>
