<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        input[type=text], input[type=password] {
            width: 350px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>

    <script>
        function checkDetails() {
            let username = document.querySelector("input[name='username']").value;
            let password = document.querySelector("input[name='password']").value;
            if (username === "" || password === "") {
                // Optional: show alert or message
            } else {
                document.querySelector("form").submit();
            }
        }
    </script>
</head>

<body>
    <nav>
        <ul class="navbar">
            <li class="navbar-left">
                <a href="/index">Home</a>
                <a href="/testGame">Play</a>
                <a href="">How to Play</a>
            </li>
            <li class="float-right navbar-right">
                {% if session.username %}
                    <a href="/profile" class="cookie-link">{{ session.username }}</a>
                {% else %}
                    <a href="/login" class="cookie-link">Log In</a>
                {% endif %}
                <a href="/profile" class="nav-pfp-container">
                    <img src="{{ profile_pic }}" alt="Profile Picture" class="profile-pic">
                </a>
            </li>
        </ul>
    </nav>

    <div class="tablet">
        <br/><br/>
        <h1 class="large-text in-tablet">Log In:</h1>
        <br/>

        {% if msg %}
            <p class="{% if 'Incorrect' in msg %}error-message{% else %}success-message{% endif %}">{{ msg }}</p>
        {% endif %}

        <form method="post" action="{{ url_for('login') }}" class="in-tablet">
            <input class="medium-text" required type="text" name="username" placeholder="Username"> <!-- asks for user name -->
                <br/>
            <input class="medium-text" required type="password" name="password" placeholder="Password">
                <br/>
            <button class="button" type="submit" onclick="checkDetails()">Submit</button> <!-- submit button -->
        </form>

        <br/>
        <hr color="black" class="bottom-tablet">
        <a href="{{ url_for('signUp') }}" class="bottom-tablet">Don't have an account? Make one here</a>
    </div>
</body>
</html>
