<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .main {
            padding: 40px;
        }
    </style>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="navbar-left">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('testGame') }}">Play</a>
                <a href="#">How to Play</a>
            </li>
            <li class="float-right navbar-right">
                {% if session.username %}
                    <a href="{{ url_for('profile') }}" class="cookie-link">{{ session.username }}</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="cookie-link">Log In</a>
                {% endif %}
                <a href="{{ url_for('profile') }}" class="nav-pfp-container">
                    <img src="{{ profile_pic }}" alt="Profile Picture" class="profile-pic">
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidenav">
        <a href="{{ url_for('profile') }}" class="large-pfp-container">
            <img src="{{ profile_pic }}" alt="Profile Picture" width="220" class="profile-pic">
        </a>

        {% if session.username %}
            <a href="{{ url_for('profile') }}" class="cookie-link">{{ session.username }}</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="cookie-link">Log In</a>
        {% endif %}

        <a href="{{ url_for('profile_stats') }}">Stats</a>
        <a href="{{ url_for('show_decks') }}">Decks</a>
        <a href="{{ url_for('change_profile_pic') }}">Change Profile Pic</a>
        <a href="{{ url_for('logout') }}">Log out</a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
