<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Game Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <body>
        {% include 'htmlChildren/navbar.html' %} <!-- navbar  -->
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
    
        {% include 'htmlChildren/sideNav.html' %}
    </body>
</body>
</html>
